@{
    ViewData["Title"] = "Home Page";
}

 <h1 class="m-4">Wedding Planner></h1> 
<fieldset>
    <h3>Register Now!</h3>
<button asp-action="Register" class="btn btn-default">Register</button>
</fieldset>
<fieldset>
    <h3>Already Registered? Login!</h3>
<button asp-action="Login" class="btn btn-default">Login</button>
</fieldset>

